# Qus: 1-->
How to import pandas and check the version?

In [1]:
import pandas as pd
pd.__version__

'1.0.5'

# Qus: 2-->
How to create a series from a numpy array?

In [2]:
import numpy as np
arr = np.arange(10,51,10)
print(arr)
type(arr)

[10 20 30 40 50]

numpy.ndarray

In [3]:
#Series
series = pd.Series(arr)
print(series)
type(series)

0    10
1    20
2    30
3    40
4    50
dtype: int32

pandas.core.series.Series

# Qus: 3-->
How to convert the index of a series into a column of a dataframe?

In [4]:
#taking previous qus as a example
print(series)
print()

df = pd.DataFrame(series)
df['s_index'] = df.index
print(df)

0    10
1    20
2    30
3    40
4    50
dtype: int32

    0  s_index
0  10        0
1  20        1
2  30        2
3  40        3
4  50        4

# Qus: 4-->
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset

In [30]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [8]:
mpg = sns.load_dataset("mpg")
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Qus: 5-->
Which country origin cars are a part of this dataset?

Origin: This dataset was taken from the StatLib library which is
maintained at Carnegie Mellon University. The dataset was
used in the 1983 American Statistical Association Exposition.

# Qus: 6-->
Extract the part of the dataframe which contains cars belonging to 'usa'

In [29]:
import pandas as pd
car_data = pd.read_csv("cars_data.csv")
df = pd.DataFrame(car_data)
df[df["country"]=="USA"]

                            car  model_year country         attribute  value
0     chevrolet chevelle malibu        1970     USA  No. of Cylinders    8.0
1             buick skylark 320        1970     USA  No. of Cylinders    8.0
2            plymouth satellite        1970     USA  No. of Cylinders    8.0
3                 amc rebel sst        1970     USA  No. of Cylinders    8.0
4                   ford torino        1970     USA  No. of Cylinders    8.0
...                         ...         ...     ...               ...    ...
2774           chevrolet camaro        1982     USA           Mileage   27.0
2775            ford mustang gl        1982     USA           Mileage   27.0
2777              dodge rampage        1982     USA           Mileage   32.0
2778                ford ranger        1982     USA           Mileage   28.0
2779                 chevy s-10        1982     USA           Mileage   31.0

[1739 rows x 5 columns]

In [24]:
df["country"]

0          USA
1          USA
2          USA
3          USA
4          USA
         ...
2775       USA
2776    Europe
2777       USA
2778       USA
2779       USA
Name: country, Length: 2780, dtype: object